{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static 'img/logo.png' %}" alt="Logo" class="brand-image elevation-3"
           style="opacity: .8">
          <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'img/arxtlogo.png' %}" class="brand-image elevation-3" alt="User Image" style="width: 5cm">
        </div>
        <div class="info">
          <a href="#" class="d-block"></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Admin
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-folder"></i>
              <p>
                Configuration Management
                <i class="right fas fa-angle-left"></i>
              </p>

            </a>

            <ul class="nav nav-treeview menu-open">
              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>Contacts</p>
                </a>
                 <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>Add Orgnization</p>
                </a>
              </li>
                     <li class="nav-item">
                <a href="{% url 'addpersons' %}" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>Add Person</p>
                </a>
              </li>
                     <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>Add TL</p>
                </a>
              </li>
                 </ul>


              </li>
{#              <li class="nav-item">#}
{#                <a href="#" class="nav-link">#}
{#                  <i class="far fa fa-list nav-icon"></i>#}
{#                  <p>Category List</p>#}
{#                </a>#}
{#              </li>#}
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                Data Administration
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'uploadcsv_file' %}" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>Upload CSV file</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa fa-list nav-icon"></i>
                  <p>Import csv for adding sci1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>Export csv for sci1 table
                  </p>
                </a>
              </li>

            </ul>
          </li>
            <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-calendar"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'view_contact_list' %}" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>View contact list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa fa-list nav-icon"></i>
                  <p>View Tl and Agent status</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa fa-edit nav-icon"></i>
                  <p>view table list with status
                  </p>
                </a>
              </li>

            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>